*
::after,
::before {
    padding: 0;
    margin: 0;
    font-family: "Inter";
}

body,
html {
    max-width: 1800px;
    scroll-behavior: smooth;
    margin:0;
    padding: 0;

}
body{
    background:rgba(236, 236, 236, 0.089) ;
}
@media only screen and (max-width:1130px) {
    .overlay .text{
        margin-top: 250px;
        text-align: center;
        margin-left: 0px;
    }
    .text>p{
        color:rgb(255, 4, 4);
    }
    .text>p:last-child{
        font-size: 1.0rem;
    }
    .jumbotron{
        overflow-y: visible;
        display: flex;
        flex-direction: column;
    }
    .img-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .img-container>img{
       margin-left: 20px;
    }
    .intro-name{
        font-size:1.2rem ;
    }
    .name{
        font-size: 1.4rem;
    }
}
@media only screen and (max-width:760px) {
    nav {
        padding: 20px 0px 20px 0px;

    }

    .nav-ul {
        display: none;
        flex-direction: column;
        width: 100%;
        z-index: 9999;
        background: rgb(0, 0, 0);


    }

    .show {
        display: flex;
        position: absolute;
        top:70px;
        overflow: hidden;
        height: 200px;
        animation: nav-display 0.2s linear;
    }
    @keyframes nav-display {
        0%{
            height:80px;
        }
        25%{
            height:120px;
        }
        50%{
            height:150px;
        }
        75%{
            height:180px;
        }
        100%{
            height:200px;
        }
    }

    button>span {
        height: 3px;
        width: 30px;
        border-radius: 3px;
        background-color: var(--smooky-white);
        display: block;
        margin-bottom: 3px;
    }

    .tr-line-1 {
        transform: rotate(-45deg) translateY(4px);
        width: 20px;
    }

    .tr-line-2 {
        display: none;
    }

    .tr-line-3 {
        transform: rotate(45deg) translateY(-4px);
        width:20px;
    }

    .hamburger {
        display: block;
    }

}



@media only screen and (max-width: 768px) {

    /* 12 COLUMN GRID SYSTEM */
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .medium-9 {
        flex-basis: 75%;
    }
    .promotions{
        height:450px;
        justify-content: space-around;
    }
    .nav-ul li a{
        padding: 10px 10px;
    }
    .promo-1,
    .promo-2{
        width: 80%;
    }
    .promo-text{
        margin-top: 0px;
        font-size: 0.8rem;
    }
    .tick-icon{
        margin-top: 5px;
    }
    .payment-section{
        height: auto;
    }
    .payment>button{
        margin-bottom: 50px;
    }
   .faq_container {
       max-width: 80%;
    }  
    .faqSection h1 {
        font-size: 1.8rem;
    }
   
    textarea{
        width: 60%;
    }
    
   
}

@media only screen and (max-width:567px){
    input[type="text"] {
        margin-bottom: 40px;
    }
   
}

@media only screen and (max-width:480px) {

    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .small-9 {
        flex-basis: 75%;
    }
    .small-11 {
        flex-basis: 91.6666666667%;
    }


    .our-package {
        margin-top: 100px;
    }

    .our-package>h2 {
        font-size: 1.8rem;
    }

    .promotions {
        height: 550px;
    }

    .promo-1,
    .promo-2 {
        width: 80%;
    }


    .promo-text {
        margin-top: 0px;
    }

    .payment>h2 {
        font-size: 1.8rem;

    }

    .faqSection h1 {
        font-size: 1.2rem;
    }

    .faq_container {
        max-width: 340px;
    }

    .faqcontainer_item-header {
        font-size: 0.7rem;
    }

    .faqitembody_content {
        font-size: 0.8rem;
    }
     input[type="text"] {
         margin-bottom: 40px;
     }
     div.footer-content h4{
         font-size: 1.2rem;
     }
     div.footer-content p{
         font-size: 0.8rem;
     }
      .text>p:last-child {
          font-size: 0.8rem;
      }


}

/* end of media query */
@media only screen and (min-width: 1140px) {

    /* 12 COLUMN GRID SYSTEM */

    .large-8 {
        flex-basis: 66.6666666667%;
    }

    .large-9 {
        flex-basis: 75%;
    }

}
